.body {
    background-image: url(/imagenes/gps.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .hero {
        height: 65.5vh;
        font-family:'Rubik', sans-serif;
        font-size: 2rem;
    }
    .textoAdicional {
        font-family: 'Square Peg', cursive;
        font-size: 2.5rem;
    }
    .nosotross {
        background-image: url(/imagenes/gps2.jpg);
        background-size:cover;
        background-repeat: no-repeat;
    }
    .contacto {
        background-color: aquamarine;
    }
}
.contacto {
    background-color: aqua;
}