.nosotross {
    background-image: url(/imagenes/gps2.jpg);
}
.empresa {
    width: 50vh;
}
.foto {
    width: 40vh;
}
.textoTarjeta {
    font-family:'Rubik', sans-serif;
    background-color: rgba(52, 167, 202, 0.747);
}