@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url(/imagenes/gps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body .hero {
  height: 65.5vh;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}
.body .textoAdicional {
  font-family: "Square Peg", cursive;
  font-size: 2.5rem;
}

.container {
  font-family: "Rubik", sans-serif;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.container .card:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .card:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.container .card:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.container .card:hover {
  transform: scale(1.08);
  box-shadow: rgb(24, 24, 24) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 0.5s;
}

@-webkit-keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
.nosotross {
  background-image: url(/imagenes/gps2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.empresa {
  width: 50vh;
}

.foto {
  width: 40vh;
}

.textoTarjeta {
  font-family: "Rubik", sans-serif;
  background-color: rgba(52, 167, 202, 0.747);
}
.ImagenesServicios {
  padding-left: 8rem;
  background-color: rgba(129, 192, 171, 0.486);
}
.contacto {
  background-color:rgba(129, 192, 171, 0.486);
}