@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Square+Peg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Logo**/
.logo {
    display: flex;
    justify-content: right;
    background-image: url(/imagenes/satelite.png);
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 600px;
    padding: 0 10px 0 10px;
}
.body {
    /*background-color: rgba(37, 161, 120, 0.603);*/
    background-image: url(/imagenes/gps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.texto {
    display: flex;
    justify-content: right;
    margin-left: 40px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}
/** Barra de Navegacion **/
.encabezado {
    display: flex;
    background-color: rgba(20, 51, 51, 0.103);
    font-family: 'Rubik', sans-serif;
    width: 100%;
    position: sticky;
    top: 0;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
.menu {
    list-style:none;
    display: flex;
    text-decoration: none;
}
.menu_item {
    list-style: none;
    text-decoration: none;
    padding-bottom: 10px;
}
.item2 {
    text-decoration: none;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
}
.menu_item.active a,.menu_item a:hover {
    text-decoration: none;
    list-style:none;
    background-color: rgba(0, 0, 0, 0.137);
    padding: 10px;
}
.navbar {
    list-style:none;
    display: flex;
    text-decoration: none;
}

/** Imagen Principal **/

.TextoPrincipal {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px 0px 0 500px ;
}
.TextoAdicional {
    display: flex;
    font-family: 'Square Peg', cursive;
    font-size: 40px;
}

/** Nosotros **/

.ImagenNosotros {
    background-image: url(../imagenes/gps2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.TextoNosotros {
    font-family: 'Roboto Slab', cursive;
    justify-content: center;
    align-items: center;
    padding: 200px 100px 0px 200px;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "QuienesSomos"
    "Profesionales"
    ;
    border-radius: 30px;
    width: 80%;
    gap: 2rem;
}
.QuienesSomos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    background-color: rgba(236, 194, 6, 0.699);
    border-radius: 30px;
    padding: 20px;
}
.Profesionales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(236, 194, 6, 0.699);
    justify-content:end;
    text-align:center;
    max-width: 100%;
    border-radius: 30px;
}

/** Tarjeta de Presentación **/
.TextoPresentacion {
    display: flex;
}
.PresentacionImagen {
    height: 200px;
    padding: 10px;
    border-radius: 100px;
}
.TextoTarjeta {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}

/** Galería de Imágenes **/

.ImagenesGaleria {
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}
.TextoGaleria {
    display: flex;
    font-family: 'Roboto Slab', serif;
}

/** Servicios **/

.ImagenesServicios {
    background-color:rgba(93, 218, 176, 0.322);
}
.TextoServicios {
    font-family: 'Roboto Slab', serif;
    padding: 100px;
    text-align: center center;
}
.estaciontotal {
    display: flex;
    background-image: url(../imagenes/estaciontotal.jpg);
    background-size: contain;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
.gps {
    display: flex;
    background-image: url(../imagenes/gps3.jpg);
    background-size: contain;
    width: 100%;
    align-items: flex-start;
    height: 900px;
    background-repeat: no-repeat;
}
.drone {
    display: flex;
    background-image: url(../imagenes/drone.jpg);
    background-size: contain;
    width: 100%;
    align-items: flex-start;
    height: 500px;
    background-repeat: no-repeat;
}

/** Contacto **/

.Contacto {
    background-image: url(../imagenes/agrimensura.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(52, 196, 148, 0.233);
    font-family: 'Roboto Slab', serif;
    justify-content: center;
    text-align: left;
}
.DatosDeContacto {
    padding: 100px;
    background-color: rgba(20, 116, 111, 0.356);
    text-align: left;
    width: 700px;
    margin: 50px 0px 50px 100px;
    border-radius: 50px;
}
.Opciones {
    padding: 20px;
    background-color: rgba(20, 116, 111, 0.527);
    border-radius: 30px;
    width: 500px;
    margin: 50px 0px 50px 100px;
}

/** GRID **/

.grid {
    padding: 6 rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "item1 item2 item3";
    gap: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}
.grid__item {
    border-radius: 20px;
    background-color: rgba(27, 25, 151, 0.103);
    margin: 20px 30px 20px 30px;
    background-position: center center;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.219);
}
.grid__item h5 {
    font-family: 'Roboto Slab', serif;
    gap: 2rem;
    font-weight:bold;
    padding: 1rem;
}
.grid__item1 {
    grid-area: item1;
    background-image: url(../imagenes/mapa2.png);
}
.grid__item2 {
    grid-area: item2;
    background-image: url(../imagenes/estacion2.png);
    background-position: right;
}
.grid__item3 {
    grid-area: item3;
    background-image: url(../imagenes/drone2.png);
}

/** Grids para +768px**/

@media screen and (max-width:768px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3";
        height: 100%;
        gap: 1rem;
        width: 80%;
        margin-left: 50px;
        background-position: right;

    }
    .grid__item {
        border-radius: 20px;
        background-color: rgba(27, 25, 151, 0.103);
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.562);
        margin: 0px;
    }
    .grid__item1 {
        background-size: 20%;
        justify-content: center;
    }
    .grid__item3 {
        background-size: contain;
    }
    .body {
        background-size: cover;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        height: 2rem;
        width: 10%;
        position:sticky;
    }
    .logo {
        display: flex;
        align-items: flex-end;
        margin: 0px 10px 10px 180%;
        width: 100%;
        padding: 0px;
        background-size: contain;
    }
    .encabezado {
        background-color: rgba(0, 0, 0, 0);
    }
    .TextoPrincipal {
        background-color: rgba(127, 255, 212, 0.171);
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.267);
        font-family: 'Roboto Slab', serif;
        font-size: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-size: 10px;
        padding: 100px;
        width: 40%;
        margin-left: 40%;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .TextoAdicional {
        font: 10px;
        align-items: center;
    }
    .TextoNosotros {
        padding: 30px 0px 0px 100px;
    }
    .TextoTarjeta {
        margin-top: 30px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        height: 20%;
    }
    .PresentacionImagen {
        height: 150px;
    }
    .ImagenNosotros {
        background-image: none;
    }
    .bodyNosotros {
        background-image: url(../imagenes/gps2.jpg);
        background-size: cover;
    }
}

/** Grids para +480px**/

@media screen and (max-width:480px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3";
        height: 100%;
        gap: 0.5rem;
        width: 80%;
        margin-left: 50px;
    }
    .grid__item {
        border-radius: 20px;
        background-color: rgba(27, 25, 151, 0.103);
        background-position: center center;
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.219);
    }
    .grid__item1 {
        background-size: 20%;
        justify-content: center;
    }
    .grid__item3 {
        background-size: 90px;
    }
    .body {
        background-size: cover;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        height: 2rem;
        width: 10%;
        position:sticky;
    }
    .logo {
        display: flex;
        align-items: flex-end;
        margin: 0px 10px 10px 60%;
        width: 100%;
        padding: 0px;
        background-size: contain;
    }
    .TextoPrincipal {
        background-color: rgba(127, 255, 212, 0.171);
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.267);
        font-family: 'Roboto Slab', serif;
        font-size: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-size: 10px;
        padding: 100px;
        width: 40%;
        margin-left: 40%;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .TextoAdicional {
        font: 10px;
        align-items: center;
    }
}